

<div class="container">
<h1>Add a quest</h1>

<%= render "quest_form", quest: @quest %>


</div>
<%# <%= f.input :data, as: :range, input_html:{ min:"0", max:"45", oninput:"updateTextInput(this.value)"}%>
