// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFE67D;
$orange: #ED9455;
$dark-orange: #de6f1f;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pale-green :#FEFFEF;
$dark-green: #729960;
$light-sage: #D7E9B9;
$sage: #9DC08B;
$light-orange: #FFBB70;
$white : #FFFFFF;
$light-gray: grey;
$darkest-green: #547147;
