<div class="navbar navbar-expand-sm navbar-light navbar-lewagon justify-items-center">
  <div class="d-flex nav-xp-level justify-content-center">
        <% if current_user.xp < 100 %>
          <% level = 0 %>
          <% xp = current_user.xp %>
        <% elsif %>
          <% levels = current_user.xp.to_s.chars %>
          <% level = levels [0] %>
          <% xp = levels[1] + levels[2] %>
        <% end %>
      <p class="me-2 mb-1">Level: <%= level %></p>
      <p class="ms-2 me-2 mb-1">XP: <%= xp %></p>
    </div>
  <div class="container-fluid">

    <div class="progress nav-width">
      <div class="progress-bar bg-warning" role="progressbar" style="width: <%= xp %>%" aria-valuenow=<%= current_user.xp %> aria-valuemin="0" aria-valuemax="100">
      </div>

    </div>

  </div>
</div>
