
<body class="bodygame">

  <%= link_to "skip game", quests_path, class: "btn", id: "skipbutton"%>
  <p id="xpCounter">xp: 0</p>

  <p class="message">Click the bubbles to pop them</p>
  <!-- <div class="bubble-machine"></div> -->
  <div class="bubble-container">
    <div class="bubble">
        <div class="bubble-border"></div>
        <div class="bubble-pop">+1xp</div>
    </div>
  </div>
  <div class="bubble bubble2">
    <div class="bubble-border"></div>
    <div class="bubble-pop">+1xp</div>
  </div>
  <div class="bubble bubble3">
    <div class="bubble-border"></div>
    <div class="bubble-pop">+1xp</div>
  </div>
  <div class="bubble bubble4">
    <div class="bubble-border"></div>
    <div class="bubble-pop">+1xp</div>
  </div>
  <div class="bubble bubble5"><div class="bubble-border"></div><div class="bubble-pop">+1xp</div></div>
  <div class="bubble bubble6"><div class="bubble-border"></div><div class="bubble-pop">+1xp</div></div>
  <div class="bubble bubble7"><div class="bubble-border"></div><div class="bubble-pop">+1xp</div></div>
  <div class="bubble bubble8"><div class="bubble-border"></div><div class="bubble-pop">+1xp</div></div>
  <div class="bubble bubble9"><div class="bubble-border"></div><div class="bubble-pop">+1xp</div></div>
</body>
