<body>
  <div>
    <div id="home-title">
      <p>Quest Up<p>
    </div>
    <div id="home-text">
      <p>Life's a game.<br>What's your level?</p>
    </div>
    <a href="/bubble" class="home-btn"  id="btn-right">Play Game</a>
    <a href="/quests" class="home-btn" id="btn-left">See Quests</a>
  </div>
</body>
