.btn-card {
  color: $white;
  border-radius: 15px;
  width: 50px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;;
  padding: 0;
  transition: 0.3s ease;
}

.btn-review {
  background-color: $orange;
  border-color: $dark-orange;

  &:hover{
    background-color: $dark-orange!important;
    color: $white!important;
    border-color: $dark-orange!important;
    }
}

.btn-quest {
  background-color: $sage;
  border-color: $dark-green;

  &:hover{
    background-color: $dark-green!important;
    color: $white!important;
    border-color: $dark-green!important;
    }
}
.skipbutton{
  font-family: $headers-font;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: black;
  background-color: $orange;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}

.btn-form{
  border-radius: 15px;
  background-color: $orange;
  border-color: $dark-orange;
  // color: $dark-green;

  &:hover{
    background-color: $sage;
    border-color: $dark-green;
    color: white;

  }
}

.btn-rewards {
  border-radius: 15px;
  background-color: $sage;
  border-color: $dark-green;
  // color: $dark-green;

  &:hover{
    background-color: $orange;
    border-color: $dark-orange;
    color: white;
  }
}

.home-btn{
  bottom: 0;
  position: absolute;
  margin: 15px;
  font-family: $headers-font;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: black;
  background-color: $orange;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}
