.btn-review {
  color: $white;
  background-color: $orange;
  border-radius: 15px;
  border-color: $dark-orange;
  width: 50px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  margin-right: 5px;;
  padding: 0;
  transition: 0.3s ease;

  &:hover{
    background-color: $dark-orange!important;
    color: $white!important;
    border-color: $dark-orange!important;
    }
}

.skipbutton{
  font-family: $headers-font;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  color: black;
  background-color: $orange;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}
