.card-list-outside-reward {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: $orange;
  font-family: $body-font;
  box-shadow: 3px 3px 2px $light-gray ;
}

.card-list-outside-unavail{
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: $light-orange;
  font-family: $body-font;
  box-shadow: 3px 3px 2px $light-gray ;
}

.card-list-outside-quest {
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: $sage;
  font-family: $body-font;
  box-shadow: 3px 3px 2px $light-gray ;
}

.card-list-inside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
  width: 90%;
  margin-bottom: 10px;
  background-color: $white;
  font-size: 18px;
  padding: 10px;
}

.card-list-inside-unavail{
  color: $light-gray;
  background-color: rgb(232, 232, 232);
}

.card-list-info {
  border-radius: 10px;
  background-color: $white;
  font-size: 16px;
}

.card-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.card-details {
  margin:0;
  padding:10px;
}

.xp-reward {
  margin: 0;
  padding-left: 10px;
}

.div-relative{
  position: relative;
}

.detail-position{
  display:flex;
  justify-content: space-between;
  padding-left: 3px;
}

.rewardbtn-position{
  display:flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}
