.custom-checkbox{
  font-family: "fa-regular fa-star";
  width: 20px;
  height: 20px;
  color: black;
  margin-top: 16px;
  margin-right: 4px;
  background-color: white;
}

.custom-checkbox.checked{
  background: rgba(40,40,40,0.7);
  padding: 5px;
}
