
// For Quest Checkbox

.custom-checkbox-quest{
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: black;
  margin-top: 27px;
  margin-left: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox-quest i {
  opacity: 0;
  color: white;
  font-size: 15px;
}

.custom-checkbox-quest.checked.tick i {
  opacity: 1;
}

.custom-checkbox-quest.checked{
  border: 2px solid white;
  background: rgba(40,40,40,0.7);
  padding: 5px;
}


// For Rewards Checkbox

.custom-checkbox-reward{
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: black;
  margin-top: 13px;
  margin-left: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox-reward i {
  opacity: 0;
  color: white;
  font-size: 15px;
}

.custom-checkbox-reward.checked{
  border: 2px solid white;
  background: rgba(40,40,40,0.7);
  padding: 5px;
}

.padlock{
  width: 20px;
  height: 20px;
  color: $light-gray;
  margin-top: 14px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  i{
    opacity: 1;
    // color: white;
    font-size: 24px;
  }
}
