.page-height{
  min-height: 400px;
  margin-bottom: 100px;
  clear: both!important;
}

.footer-nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 16px;
  display: flex;
  background-color: $dark-green;
  justify-content: space-around;
}

.footer-btn-icon {
  background-color: $white;
  border-radius: 50%;
  justify-content: space-around;
  width: 60px;
  height: 60px;
  border-color: $darkest-green;
  border-style: solid;
  display: flex;
  align-items: center;
  padding-top: 5px;
  box-shadow: 0px 2px 8px #aaa, inset 0px 2px 3px #fff;
}


.footer-icon {
  font-size: 24px;
}

.dropdown-toggle::after {
  display: none;
}

.footer-menu {
  background-color: transparent;
  border: none;
  vertical-align: middle;
}

// .menu-add {
//   position: absolute;
//   inset: auto auto 10px 10px;
//   margin: 0px;
//   transform: translate3d(17.5px, -51px, 0px);
// }

// .menu-home {
//   position: absolute;
//   inset: auto 10px 10px auto;
//   margin: 0px;
//   transform: translate3d(-15.5px, -51px, 0px);


.footer-menu-item {
  background-color: $white;
  border-radius: 5px;
  width: fit-content;
  height: 40px;
  border: $darkest-green;
  border-style: solid;
  padding-top: 5px;
  box-shadow: 0px 2px 8px #aaa, inset 0px 2px 3px #fff;
  margin-bottom: 15px;
  vertical-align: middle;
}

.navbar-nav .dropdown-menu div {
  inset: auto 200px 0px auto!important;
}

.present{
  position: absolute;
  inset: auto 200px 30px auto!important;
  margin: 0px;
  transform: translate3d(-15.5px, -51px, 0px)!important;
  background-color: $body-bg;
  // background-color: $light-orange;
  border: 1px solid $orange;
  border-radius: 25px;
  padding: 15%;
  padding-top: 30%;
  box-shadow: 1px 2px 1px $light-gray
}

.added{
  position: absolute;
  inset: auto -45px 30px auto!important;
  margin: 0px;
  transform: translate3d(-15.5px, -51px, 0px)!important;
  background-color: $body-bg;
  // background-color: $light-orange;
  border: 1px solid $orange;
  border-radius: 25px;
  padding: 20%;
  padding-top: 35%;
  box-shadow: 1px 2px 1px $light-gray
}

.footer-btn-icon > .nav-colour:focus{
  color: $orange!important;
}

.nav-box-btn{
  background-color: $orange;
  color: $white;
  //margin-left: 62px;
  height: 34px;
  border: none;
  box-shadow: none;
}

.nav-box-btn:hover{
  background-color: $dark-orange!important;
  color: $white!important;
  border-color: $dark-orange!important;
}

.nav-box-btn:active{
  background-color: $dark-orange!important;
  color: $white!important;
  border-color: $dark-orange!important;
}
