.form-name{
  background-color: $sage;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 5px 2px 2px #79936d;
  z-index: 5;
}

.form-background{
  background-color: $light-sage;

  // .calendar{
  //   // width:fit-content;
  // }
}

.input-bg {
  background-color: #FFF;
}

// .calendar{
//   // width:fit-content;
//   // width: 800px;
//   // height: 300px;
// }
