.fa-star, .fa-square{
  font-size: 30px;
  color: $white;
  padding-top: 10px;
}

.sword {
  font-size: 2rem;
  margin-top: 0;
  line-height: 21px;
  padding-bottom: 13px;
  margin-bottom: -1rem;
  color: gray;
}

#rewardspace{
  padding-bottom: 5px;
  line-height: 8px;
  padding-top: 18px;
}

// .small-height{
  // line-height: 1rem;
  // font-family: $headers-font;
  // font-size: 1.5rem;
// }
