.navbar-lewagon {
  justify-content: space-between;
  background: $dark-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-width{
  width:100%;
}
.nav-xp-level{
  margin-bottom: 2px!important;
  text-align:center;
  width: 100%;
}

.xp-style{
  border-radius: 10px;
}
